/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  float: left;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons a {
  background-color: #818081;
  border: 6px #525152 solid;
  color: white;
}

.buttons a:hover {
  background-color: #636363;
}

.IntroductionBanner {
  margin: auto;
}

.IntroductionBannerText {
  float: left;
}

img {
  float: left;
  margin-top: -2px;
}