name: 'Production deployment'
on:
  workflow_dispatch:
    inputs:
      just-deploy:
        description: 'Just deploy (overrides skip)'
        type: 'boolean'
        required: true
        default: false
      skip-deploy:
        description: 'Skip deploy'
        type: 'boolean'
        required: true
        default: false
  push:
    branches:
      - 'main'
    paths:
      - 'Guides/**'
      - 'ExtraInfo/**'
concurrency:
  group: 'production'
  cancel-in-progress: true
jobs:
  generate:
    name: 'Generate chip markdown'
    runs-on: 'ubuntu-latest'
    if: ${{ !inputs.just-deploy }}
    permissions:
      contents: 'write'
    outputs:
      commit-sha: '${{ steps.commit-push.outputs.commit-sha }}'
    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@v4'
        with:
          ssh-key: '${{ secrets.BR_BYPASS }}'
      - name: 'Setup Python'
        uses: 'actions/setup-python@v5'
        with:
          python-version: '3.10'
          cache: 'pipenv'
          cache-dependency-path: './Source/Pipfile.lock'
      - name: 'Install pipenv and setup environment'
        working-directory: './Source'
        run: |
          curl https://raw.githubusercontent.com/pypa/pipenv/master/get-pipenv.py | python
          pipenv install
      - name: 'Download source JSON file and run scripts'
        working-directory: './Source'
        run: |
          curl https://raw.githubusercontent.com/tyleo-rec/CircuitsV2Resources/master/misc/circuitsv2.json -o source_data.json
          pipenv run python Translate_JSON.py ./source_data.json ./Generated/chips.json ./Generated/ports.json
          pipenv run python Generate_Docs.py
      - name: 'Commit and push'
        id: 'commit-push'
        continue-on-error: true
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "actions-user"
          cp ./Source/Generated/chips.json ./Generated/
          cp ./Source/Generated/ports.json ./Generated/
          git add Generated
          git add Circuits/docs
          git add ExtraInfo
          git commit -m "[no ci] Generated markdown and svg - based on ${{ github.sha }}"
          git push
          echo "commit-sha=$(git log --format='%H' -1)" >> "$GITHUB_OUTPUT"
  deploy:
    name: 'Deploy (Production)'
    runs-on: 'ubuntu-latest'
    needs: 'generate'
    if: ${{ !failure() && (!inputs.skip-deploy || inputs.just-deploy) }}
    permissions:
      contents: 'read'
      deployments: 'write'
    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@v4'
        with:
          ref: '${{ needs.generate.outputs.commit-sha || github.sha }}'
      - name: 'Setup Node'
        uses: 'actions/setup-node@v4'
        with:
          node-version: 18
          cache: 'npm'
          cache-dependency-path: './Circuits/package-lock.json'
      - name: 'Build'
        working-directory: './Circuits'
        run: |
          export NODE_OPTIONS="--max_old_space_size=4096"
          npm ci
          npm run build
      - name: 'Deploy to Cloudflare Pages'
        uses: 'cloudflare/pages-action@v1.5.0'
        with:
          apiToken: '${{ secrets.CLD_FLR_TKN }}'
          accountId: '${{ secrets.CLD_FLR_ID }}'
          projectName: 'circuits'
          branch: 'main'
          directory: './build'
          workingDirectory: './Circuits'
          gitHubToken: '${{ secrets.GITHUB_TOKEN }}'
