name: 'Preview deployment'
on:
  pull_request:
    types: ['opened', 'reopened', 'ready_for_review']
    branches:
      - 'main'
    paths:
      - 'Guides/**'
      - 'ExtraInfo/**'
concurrency:
  group: 'preview-${{ github.ref_name }}'
  cancel-in-progress: true
jobs:
  generate:
    name: 'Generate markdown'
    runs-on: 'ubuntu-latest'
    if: '${{ !github.event.pull_request.draft }}'
    permissions:
      contents: 'write'
    outputs:
      commit-sha: '${{ steps.commit-push.outputs.commit-sha }}'
    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@v4'
      - name: 'Setup Python'
        uses: 'actions/setup-python@v5'
        with:
          python-version: '3.10'
          cache: 'pipenv'
          cache-dependency-path: './Source/Pipfile.lock'
      - name: 'Install pipenv and setup environment'
        working-directory: './Source'
        run: |
          curl https://raw.githubusercontent.com/pypa/pipenv/master/get-pipenv.py | python
          pipenv install
      - name: 'Copy required files and run generation script'
        working-directory: './Source'
        run: |
          mkdir Generated
          cp ../Generated/chips.json ./Generated/
          cp ../Generated/ports.json ./Generated/
          pipenv run python Generate_Docs.py
      - name: 'Commit and push'
        id: 'commit-push'
        #continue-on-error: true
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "actions-user"
          git add Circuits/docs
          git add Circuits/guides
          git add ExtraInfo
          git commit -m "[no ci] Generated preview docs and guides based on ${{ github.sha }}"
          git push
          echo "commit-sha=$(git log --format='%H' -1)" >> "$GITHUB_OUTPUT"
  deploy:
    name: 'Deploy (Preview)'
    runs-on: 'ubuntu-latest'
    needs: 'generate'
    if: ${{ !failure() && !github.event.pull_request.draft }}
    permissions:
      contents: 'read'
      #deployments: 'write'
    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@v4'
        with:
          ref: '${{ needs.generate.outputs.commit-sha || github.sha }}'
      - name: 'Setup Node'
        uses: 'actions/setup-node@v4'
        with:
          node-version: 18
          cache: 'npm'
          cache-dependency-path: './Circuits/package-lock.json'
      - name: 'Build'
        working-directory: './Circuits'
        run: |
          export NODE_OPTIONS="--max_old_space_size=4096"
          npm ci
          npm run build
      - name: 'Deploy to Cloudflare Pages'
        uses: 'cloudflare/pages-action@v1.5.0'
        with:
          apiToken: '${{ secrets.CLD_FLR_TKN }}'
          accountId: '${{ secrets.CLD_FLR_ID }}'
          projectName: 'circuits'
          branch: '${{ github.ref_name }}'
          directory: './build'
          workingDirectory: './Circuits'
          #gitHubToken: ''
